{% extends "base.twig" %}

{% block peersactive %} active{% endblock %}

{% block title %}
    <h1>BGP Sessions</h1>
{% endblock %}

{% block page %}
    Peering Sessions
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">AS</th>
            <th scope="col">Neighbor IP</th>
            <th scope="col">State</th>
            <th scope="col">Uptime</th>
            <th scope="col">Prefix Count</th>
            <th scope="col">Peer Group</th>
        </tr>
        </thead>

        {% for asn, sessions in data %}
            {% for session, parameter in sessions %}

                {% if parameter.addressFamilyInfo['IPv4 Unicast']|length > 0 %}
                    {% set afibase = parameter.addressFamilyInfo['IPv4 Unicast'] %}
                    {% set afi = "IPv4" %}
                    {% set style = "secondary" %}
                {% else %}
                    {% if parameter.addressFamilyInfo['IPv6 Unicast']|length > 0 %}
                        {% set afibase = parameter.addressFamilyInfo['IPv6 Unicast'] %}
                        {% set afi = "IPv6" %}
                        {% set style = "primary" %}
                    {% endif %}
                {% endif %}

                <tr>
                    {% if loop.first %}
                        <td rowspan="{{ sessions|length }}">{{ asn }}</td>
                    {% endif %}
                    <td><span class="badge badge-{{ style }}">{{ afi }}</span> {{ session }}</td>
                    {% if parameter.bgpState == "Established" %}
                        <td><span class="badge badge-success">Established</span></td>
                    {% else %}
                        <td><span class="badge badge-warning">{{ parameter.bgpState }}</span></td>
                    {% endif %}
                    <td>{{ parameter.bgpTimerUpString }}</td>
                    <td>{{ afibase.acceptedPrefixCounter }}</td>
                    <td>{{ afibase.peerGroupMember|default('none') }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
